<mat-tab-group *ngIf="data && graphs">
    <mat-tab *ngFor="let d of data; let i = index">
      <ng-template mat-tab-label style="width: 10000px">
        <div *ngIf="d.type !== 'solar'">{{d.subType[0].toUpperCase()}}{{d.subType.substring(1,d.subType.length)}} wind project</div>
        <div *ngIf="d.type === 'solar'">{{d.subType[0].toUpperCase()}}{{d.subType.substring(1,d.subType.length)}} solar project</div>
      </ng-template>
      <div class="body">
        <h1 *ngIf="d.type !== 'solar'">{{d.subType[0].toUpperCase()}}{{d.subType.substring(1,d.subType.length)}} wind project</h1>
        <h1 *ngIf="d.type === 'solar'">{{d.subType[0].toUpperCase()}}{{d.subType.substring(1,d.subType.length)}} solar project</h1>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput label="Amount" value="{{d.amount}} {{d.amountUnit}}">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Break-even point</mat-label>
          <input matInput value="{{d.breakEvenPoint}} years">
        </mat-form-field>
      </div>
      <div class="graphsContainer">
        <plotly-plot [data]="graphs[i][0].data" [layout]="graphs[i][0].layout"></plotly-plot>
        <plotly-plot [data]="graphs[i][1].data" [layout]="graphs[i][1].layout"></plotly-plot>
        <plotly-plot [data]="graphs[i][2].data" [layout]="graphs[i][2].layout"></plotly-plot>
        <plotly-plot [data]="graphs[i][3].data" [layout]="graphs[i][3].layout"></plotly-plot>
      </div>
    </mat-tab>
  </mat-tab-group>

