mat-tab-group {
  width: 100%;
}

mat-tab-group.mat-tab-label {
  width: 100%!important;
}

.body {
  width: 50%;
  margin: auto;
  padding-top: 1%;
}

h1 {
  width: fit-content;
  margin: auto;
  padding-bottom: 1%;
}

mat-form-field {
  padding-top: 1%;
  width: 48%;
  pointer-events: none;
}

mat-form-field:nth-child(even) {
  margin-right: 1%;
}

button:not(.mat-icon-button) {
    width: 95%;
    margin: 1% 2%;
}

.selected {
    background-color: #C5E1A5;
}

.selected:hover {
    background-color: #447a06;
}

ng-template {
    width: 1000%;
}

.graphsContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.firstGraph {
  width: 100%;
  margin: auto;
}

:host::ng-deep.mat-tab-labels {
  display: flex;
  justify-content: space-around;
}
