.mat-tab-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.mat-tab-labels {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

mat-tab {
    width: 33%;
}
.body {
  height: 80%;
}
.bottomButton {
    display: flex;
    justify-content: center;
}

button {
    background-color: #C5E1A5;
}
