/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: all 0.3s ease;
}
body button {
    background-color: #C5E1A5;
}

body button:hover {
    background-color: #1b5e20;
    color: white;
}
