.body {
  width: 50%;
  margin: auto;
  padding-top: 1%;
}

mat-form-field {
    width: 100%;
}

.radioGroup {
    width: 100%;
}

mat-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

mat-radio {
    transition: all 0.3s ease-in-out;
}

.input {
    padding-top: 3%;
}
