<div class="body">
  <h1>Information</h1>
  <form [formGroup]="dataForm">
    <!--
    <div class="radioGroup">
      <p>I am a ...</p>
      <mat-radio-group formControlName="publicOrPrivate">
        <mat-radio-button value="true" [checked]="true">private person</mat-radio-button>
        <mat-radio-button value="false">company</mat-radio-button>
      </mat-radio-group>
    </div>-->

    <div class="budget input">
      <p>Budget (in €):</p>
      <mat-form-field appearance="fill">
        <mat-label>Budget</mat-label>
        <input matInput placeholder="0€" formControlName="budget" type="number">
      </mat-form-field>
    </div>

    <div>
      <mat-label>Usage quota:</mat-label>
      <mat-label class="example-value-label" style="float: right;">{{this.dataForm.controls['usage_quota'].value}}</mat-label>
      <mat-slider style="width: 100%" min="0" max="1" step="0.01" formControlName="usage_quota"></mat-slider>
    </div>

  </form>

  <p>Location:</p>
  <div id="map" style="height: 17rem;width:100%"></div>
</div>
