mat-form-field {
    width: 400px;
}

.radioGroup {
    width: 100%;
}

mat-radio-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

mat-radio {
    transition: all 0.3s ease-in-out;
}

.input {
    padding-top: 5%;
}

.PLZInput {
    width: 100%;
}
